sudo: false
os:
  - linux
language: node_js
node_js:
  - '6'
  - '8'
  - '10'
  - '12'
install:
  - npm i npminstall && npminstall
script:
  - npm run ci
after_script:
  - npminstall codecov && codecov
